/***********CONTACTANOS**********/

main{
    .resultado__busqueda{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-between;
        div{
            div{
                button{
                    background-color: $secondary-color;
                    color: $primary-color;
                    border-color: $secondary-color;
                    width: 165px;
                    height: 20px;
                }
            }
        }
    };
    .buscador{
        height: 300px;
        button{
            background-color: $secondary-color;
            font: bold;
            color: $primary-color;
        }
        &__funkos{
            display: flex;
            flex-direction: row;
            gap: 10px;
            margin-top: 40px;
            justify-content: center;
            &__grupo{
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-top: 40px;
                width: 40vw;
                input{
                    color: $primary-color;
                    font-size: $medium-text;
                }
                button{
                    background-color: $secondary-color;
                    color: $primary-color;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .afterimage__contactanos{
        div{
            form{
                div{
                    input{
                        width: 100%;
                    }
                }
            }
        }
    
    }
}

/***********FIN CONTACTANOS**********/