/***********VARIABLES**********/

$primary-color: #1C110A;
$secondary-color: #D00000;
$back-color: #FFFFFF;
$medium-text: 1.3rem;
$large-text:2.5rem;
$small-text:1.4rem;
$tiny-text: 1rem;


/***********FIN VARIABLES**********/